{% extends 'base.html' %}

{% block title %} Stocks {% endblock %}

{% block content %}

</br>
</br>
</br>



<div class= "col-md-6 offset-md-3">
    <h1 class="display-4">Stock Tracker</h1>
    </br>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Ticker</th>
            <th scope="col">Stock Value</th>
          </tr>
        </thead>
        <tbody>
            {% for stock in final_stocks_values %}
          <tr>
            <th scope="row">{{stock.title}}</th>
            <td>{{stock.ticker}}</td>
            <td>${{stock.price}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
</div>



{% endblock %}

